{% extends "CalendarApp/index.html" %}
{% block main %}
	<a href="{% url "CalendarApp.views.month" year month %}"><img src="/calendar/media/img/up.png" width="40" height="40" alt=""></a>
<h4>My Entries</h4>
<div class="container">
<form class="form-signin" action="{% url "CalendarApp.views.day" year month day %}" method="POST"> {% csrf_token %}

{{ entries.management_form }}

{% for entry in entries.forms %}
    {{ entry.id }}
        <label class="checkbox">
        Delete {{ entry.DELETE }}
        </label>
            Title: {{ entry.title }}
            Snippet: {{ entry.snippet }}
        <label class="checkbox">
        Remind {{ entry.remind }}
        {{ entry.remind.errors }}
        </label>
        {{ entry.body }}
{% endfor %}
<br/>
<br/>
<button class="btn btn-lg btn-primary btn-block" style="width: 40%; height: 70px" type="submit" value="Save">SAVE</button> </form>
</div>
{% endblock %}